.body {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: grid;
    background-color: black;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3px;
    border: 10px solid black;
}

.mini_block {
 background-color: rgb(54, 54, 54);
}

.nice {
    position: relative;
    left: 50%;
    top: 50%;
    background-color: greenyellow;
}
