/* 
  Color Pallette: https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
  Font Pairing: https://www.reliablepsd.com/ultimate-google-font-pairings/ -> Cormorant Garamond + Fira Sans
*/
body {
    font-family: "Fira Sans", sans-serif;
    color: #343a40;
    background-color: #f8f9fa;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Cormorant Garamond", serif;
    color: #212529;
  }
  
  a {
    color: #343a40;
    transition: color 0.3s linear;
  }
  
  a:hover {
    color: #adb5bd;
  }
  
  .blog-header {
    text-align: center;
  }
  
  .main-title {
    font-size: 48px;
    padding: 50px;
  }
  
  .navigation {
    display: block;
    border-top: 1px solid #adb5bd;
    border-bottom: 1px solid #adb5bd;
    background-color: #e9ecef;
  }
  
  .navigation-list__item {
    display: inline-block;
  }
  
  .navigation-list__link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
  }
  
  .blog-content {
    margin: 0 auto;
  }
  
  .post__item-wrapper {
    padding: 30px 0;
  }
  
  .post__item-wrapper:nth-child(even) {
    background-color: #e9ecef;
  }
  
  .post__item {
    width: 50%;
    margin: 0 auto;
  }
  
  .post__item-title {
    font-size: 24px;
  }
  
  .post__item-summary {
    font-size: 18px;
  }
  
  .post__item-link-wrapper {
    text-align: right;
  }
  
  .post__item-link {
    padding: 5px;
    font-family: "Cormorant Garamond", serif;
    font-size: 28px;
  }
  
  .blog-footer {
    padding: 10px;
    text-align: center;
    color: #ced4da;
    background-color: #212529;
  }
  